.git
.gitignore
.env
.venv
.pytest_cache
.ruff_cache
.mypy_cache
__pycache__
*.py[cod]
.idea
.DS_Store
.coverage
.coverage.*
coverage.xml
htmlcov
dist
build
*.egg-info
tests
deploy/Dockerfile.e2e-ubuntu20.04
